.tour {
  margin-top: 40px;
  &-intro {
    margin-bottom: 40px;
  }
  &-content {
    height: 500px;
  }
  &-list {
    display: flex;
    align-items: center;
    margin-right: -30px;
  }
  &-item:hover img {
    transform: scale(1.2);
    transition: all 2.5s ease;
  }
  &-item {
    overflow: hidden;
    position: relative;
    width: calc(33.33333% - 30px);
    border-radius: 16px;
    margin-right: 30px;
    img {
      background: linear-gradient(
        175.54deg,
        rgba(2, 0, 14, 0.13) 9.38%,
        rgba(42, 34, 101, 0) 47.26%,
        rgba(15, 11, 44, 0.6) 92.77%
      );
      height: 500px;
      width: 100%;
      flex-shrink: 0;
      object-fit: cover;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 35px;
    bottom: 0;
    height: 100%;
    button {
      padding: 12px 28px;
      background: rgba(20, 20, 22, 0.2);
      backdrop-filter: blur(4px);
      border-radius: 50px;
      font-size: 20px;
      font-weight: bold;
      color: #e9ebf3;
    }
    &-footer {
      color: #ffffff;
      line-height: 1.5;
      h4 {
        text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
        font-size: 34px;
        font-weight: bold;
        p {
          color: #fcfcfd;
          font-size: 16px;
          opacity: 0.9;
        }
      }
    }
  }
}
