.travel {
  background-color: #f2f2f2;
  margin-bottom: 120px;
  &-intro {
    margin-top: 70px;
    margin-bottom: 40px;
  }
  &-list {
    display: flex;
    align-items: center;
    margin-right: -30px;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  &-item:hover img {
    transform: scale(1.2);
    transition: all 2.5s ease;
  }
  &-item {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    width: calc(25% - 30px);
    margin-right: 30px;
    height: 320px;
    img {
      background: linear-gradient(
        8.54deg,
        rgba(31, 31, 31, 0.63) 17.12%,
        rgba(35, 35, 35, 0) 92.69%
      );
      height: 100%;
      width: 100%;
      flex-shrink: 0;
      object-fit: cover;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    padding: 20px 30px;
    bottom: 0;
    height: 100%;
    color: #ffffff;
    .travel-name {
      font-size: 24px;
      font-weight: 600;
    }
    .travel-point {
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
      i {
        color: yellow;
        margin-right: 10px;
      }
    }
  }
}
